{{template "header.html" .}}

    <!-- Page Layout here -->
    <div class="row" style="height: 100%">

        {{template "menu.html" .}}
  
        <div class="col s12 m8 l10"> <!-- Note that "m8 l9" was added -->

            <div class="row" id="vehicleData">

            </div>
  
        </div>
  
      </div>


  <!--  Scripts-->
  <script src="/public/js/vehicle.js"></script>

  
{{template "footer.html" .}}